body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto;
}

.slider {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 10px;
  background: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.slider input[type="range"] {
  width: 100%;
}

.vertical-slider {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  width: 300px;
  padding: 10px;
  background: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.vertical-slider input[type="range"] {
  width: 100%;
}
